.venv*/
.cache/
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

results/*
!results/.gitkeep

*.log

external/
